<!DOCTYPE html>
<!-- Expiration date does not work as attended and can lead to problems.
	 Security code, card number, postal code all needs to be verified. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<link th:href="@{/styles/employee_page.css}" rel="stylesheet"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gemunu%20Libre">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<title>Confirm Purchase</title>
		<style>
		input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
			#page {
				display: flex;
				height: calc(100vh - 60px);
			}
			
			#website-title {
				margin-left: 8px;
				margin-right: 8px;
				font-size: 12px;
			}
			
			label {
			display: inline-block;
			}
			
		</style>
	</head>
	
	<body>
	
		<!-- HEADER BAR -->
		<div th:insert="header :: header"></div>
		<!-- END HEADER BAR -->
	
		<!-- SIDEBAR -->
	  <div th:insert="navBar :: navBar"></div>
	  <!-- END SIDEBAR -->
	
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		
		<div id="page">
		
			<div style="width:33%;" class="card mx-auto h-auto mw-30">
				<div class="card-header d-flex justify-content-center">
					<h1>Confirm Purchase</h1>
				</div>
				<div class="card-body">
				<div class="my-2">
						<div class="d-flex justify-content-center">
							<h2>Purchase Details</h2>
						</div>
						<div class="row">
							<ul class="col-sm-4 list-group mb-3">
								<li class="list-group-item">Total Ordered: <span th:text="${purchase.qtyBought}"></span></li>
								<li class="list-group-item">Price per Item: $<span th:text="${marketListing.pricePerItem}"></span></li>
							</ul>
							<ul class="col-sm-4 list-group mb-3">
								<li class="list-group-item">Total Price Before Taxes: $<span th:text="${purchase.totalPriceBeforeTaxes}"></span></li>
								<li class="list-group-item">Total Price After Taxes: $<span th:text="${purchase.totalPriceAfterTaxes}"></span></li>
							</ul>
							<ul class="col-sm-4 list-group mb-3">
								<li class="list-group-item">Product Name: <span th:text="${widget.name}"></span></li>
								<li class="list-group-item">Product Description: <span th:text="${widget.description}"></span></li>
							</ul>
						</div>
					</div>
					<hr>
				<div class="d-flex justify-content-center">
					<h2>Shipping Address</h2>
				</div>
				<div style="margin-bottom: 4px" th:if="${selectedAddress != null}" class="d-flex justify-content-center">
					<h3 th:inline="text">Address:&nbsp[[${selectedAddress.streetAddress}]],&nbsp[[${selectedAddress.city}]],&nbsp[[${selectedAddress.state.stateName}]],&nbsp[[${selectedAddress.postalCode}]]</h3>
				</div>
				<div th:unless="${selectedAddress !=null}" class="d-flex justify-content-center">
					<h3>A Shipping Address Must Be Added</h3>
				</div>
				<th:block th:if="${toShipping == false}">
				<th:block th:if="${selectedAddress == null}">
					<h2 class="d-flex justify-content-center"><a class="btn btn-lg btn-success" th:href="@{/toShipping}">Add</a></h2>
				</th:block>
				<th:block th:unless="${selectedAddress == null}">
					<h2 class="d-flex justify-content-center"><a class="btn btn-lg btn-success" th:href="@{/toShipping}">Change</a></h2>
				</th:block>
				</th:block>
				
				<th:block th:if="${toShipping}">
					<div th:insert="confirmShippingAddressPage :: confirmShippingAddressPage"></div>
				</th:block>
				<hr>
				<div th:if="${errMessage != null}" th:text="${errMessage}" class="alert alert-danger d-flex justify-content-center my-3">
				</div> 
				
				<div th:if="${!modifyPayment}" class="d-flex justify-content-center">
					<h2>Payment Details</h2>
				</div>
				
				<div th:if="${toShipping and !modifyPayment  or allSelected and !modifyPayment}">
					<div style="margin-bottom: 4px" th:if="${selectedPayment != null}" class="d-flex justify-content-center">
						<h3 th:inline="text">&nbsp[[${selectedPayment.cardType}]]&nbspEnding In:&nbsp[[${selectedPayment.last4Digits}]]</h3>
					</div>
					<div th:unless="${selectedPayment != null}">
						<h3>No Payment Details to Display</h3>
					</div>
					<th:block th:if="${selectedPayment == null}">
					<h2 class="d-flex justify-content-center"><a class="btn btn-lg btn-success" th:href="@{/modifyPayment}">Add</a></h2>
					</th:block>
					<th:block th:unless="${selectedPayment == null}">
						<h2 class="d-flex justify-content-center"><a class="btn btn-lg btn-success" th:href="@{/modifyPayment}">Change</a></h2>
					</th:block>
				</div>
				
				<div th:if="${toShipping == false and allSelected == false or modifyPayment}">
					<!-- used if the user has existing card details and wishes to use them -->
					<div class="accordion" id="payment-methods">
					<div class="accordion-item" th:if="${allDetails != null}">
							<h2 class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#existingAccordion">
									Pay via Existing Credit Card
								</button>
							</h2>
							<div id="existingAccordion" class="accordion-collapse collapse" th:classappend="${allDetails != null && useThis == null ? 'show' : ''}" data-bs-parent="#payment-methods">
								<div class="accordion-body">
									<div class="d-flex justify-content-center">
									<h2>Current Payment Details</h2>
								</div>
								<form method="post" action="#" class="row g-3 d-flex justify-content-center my-2"
										th:action="@{/confirmPurchase/existingCard}">
								<ul>
								<li th:if="${defaultDetails != null}" class="d-flex justify-content-center">
									<input type="radio" th:id="${defaultDetails.id}" name="selected_payment_details" th:value="${defaultDetails.id}" checked>
									<label style="font-size: 1.17em; font-weight: bolder;" th:for="${defaultDetails.id}" th:inline="text">
									&nbspDefault:&nbsp[[${defaultDetails.cardType}]]&nbspEnding In:&nbsp[[${defaultDetails.last4Digits}]]							
									</label>
								</li>
								<th:block th:if="${defaultDetails == null}">
								<li th:each="detail: ${allDetails}" class="d-flex justify-content-center">
									<input type="radio" th:id="${detail.id}" name="selected_payment_details" th:value="${detail.id}" th:checked="${defaultDetails == null}"></input>
									<label style="font-size: 1.17em; font-weight: bolder;" th:for="${detail.id}" th:inline="text">
									&nbsp[[${detail.cardType}]]&nbspEnding In:&nbsp[[${detail.last4Digits}]]							
									</label>
								</li>
								</th:block>
								
								<th:block th:unless="${defaultDetails == null}">
								<li th:each="detail: ${allDetails}" class="d-flex justify-content-center">
								<th:block th:if="${detail.id != defaultDetails.id}">
									<input type="radio" th:id="${detail.id}" name="selected_payment_details" th:value="${detail.id}">
									<label style="font-size: 1.17em; font-weight: bolder;" th:for="${detail.id}" th:inline="text">
									&nbsp[[${detail.cardType}]]&nbspEnding In:&nbsp[[${detail.last4Digits}]]							
									</label>
								</th:block>
								</li>
								</th:block>
								</ul>
										<div class="d-flex justify-content-center">
											<h2>Payment Method</h2>
										</div>
											<div class="mb-3 col-sm-4 justify-content-center">
												<label for="securityCode" class="form-label ">Security Code for Confirmation</label>
												<input type="number" class="form-control" name="existingSecurityCode" id="securityCode" th:value="${existingSecurityCode}"></input>
												<p th:text="${exSecurityCodeErr}" th:if="${exSecurityCodeErr != null}"></p>
											</div>

										<!-- Purchase decisions -->
										<div class="d-flex justify-content-center mb-3">
											<button class="btn btn-primary btn-lg"
												 type="submit" name="submit">Confirm</button>
											
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#creditAccordion">
									Pay via Credit Card
								</button>
							</h2>
							<div id="creditAccordion" class="accordion-collapse collapse" th:classappend="${allDetails == null || useThis != null ? 'show' : ''}" data-bs-parent="#payment-methods">
								<div class="accordion-body">
									<form method="post" action="#" class="row g-3 d-flex justify-content-center my-2"
										th:action="@{/confirmPurchase/submitPurchase}"  th:object="${paymentDetails}">
									<table style="width:20vw; justify-content:center; margin-left:auto; margin-right:auto;" class="uniTableForm">
										<thead>
											<tr>
												<td colspan="3" style="background-color: #D3D3D3;"><h2>Payment Method</h2></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td colspan="3" style="background-color: #89CFF0"><label for="cardType" class="form-label">Card Type</label></td>
											</tr>
											<tr>
												<td colspan="3"><select class="form-select" id="cardType" name="cardType">
													<option th:each="type : ${cardTypes}"
														th:value="${type.cardType}" th:text="${type.cardType}">
													</option>
												</select></td>
											</tr>
											<tr>
												<td colspan="3" style="background-color: #89CFF0"><label for="cardholderName" class="form-label">Cardholder Name</label></td>
											</tr>
											<tr>
												<td colspan="3"><input type="text" class="form-control" th:field="*{cardholderName}"></input>
											</td>
											</tr>
											<tr>
												<td colspan="3" style="background-color: #89CFF0"><label for="cardNumber" class="form-label">Card Number</label></td>
											</tr>
											<tr>
												<td colspan="3"><input type="number" class="form-control" th:field="*{cardNumber}"></input>
												<p th:text="${cardNumberErr}" th:if="${cardNumberErr != null}"></p>
											</td>
											</tr>
											<tr>
												<td style="background-color: #89CFF0"><label for="expirationDate" class="form-label">Expiration Date</label></td>
												<td style="background-color: #89CFF0"><label for="securityCode" class="form-label">Security Code</label></td>
												<td style="background-color: #89CFF0"><label for="postalCode" class="form-label">Postal Code</label></td>
											</tr>
											<tr>
												<td><input type="month" class="form-control" th:field="*{expirationDate}"></input>
												<p th:text="${expirationDateErr}" th:if="${expirationDateErr != null}"></p>
												<p th:if="${cardError}" th:text="${cardError}"></p></td>
												<td><input type="number" class="form-control" name="securityCode" id="securityCode" th:field="*{securityCode}"></input>
												<p th:text="${securityCodeErr}" th:if="${securityCodeErr != null}"></p></td>
												<td><input type="number" class="form-control" name="postalCode" id="postalCode" th:field="*{postalCode}"></input>
												<p th:text="${postalCodeErr}" th:if="${postalCodeErr != null}"></p>
												</td>
											</tr>
											<!-- <button type="button" class="btn btn-lg btn-danger" disabled
													th:if="${currUser.directDepositDetails == null}">No Deposit Details Added</button></div> -->
										</tbody>
									</table>

										<!-- Purchase decisions -->
										<div class="d-flex justify-content-center mb-3">
											<button style="margin-right:100px;" class="btn btn-danger btn-lg" type="submit" name="cancel">Cancel</button>
											<button style="margin-right:100px;" class="btn btn-primary btn-lg"
												 type="submit" name="submit">Confirm</button>
											
										</div>
									</form>
								</div>
							</div>
						</div>
						  <!-- <div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#paypalAccordion">
									Pay via PayPal
								</button>
							</h2>
							<div id="paypalAccordion" class="accordion-collapse collapse" data-bs-parent="#payment-methods">
								<div class="accordion-body">
									<div class="d-flex justify-content-center">
										<h2>Paypal Details</h2>
									</div>
									<form method="post" action="#" class="row g-3 d-flex justify-content-center my-2"
										th:action="@{/confirmPurchase/submitPurchasePaypal}"  th:object="${paypal}">
										<div class="row">
											<div class="mb-3 col-sm-6">
												<label class="form-label">Paypal Email</label>
												<input type="email" class="form-control" name="paypalLogin" id="paypalLogin" th:field="*{paypalLogin}"></input>
												<p th:text="${paypalLoginErr}" th:if="${paypalLoginErr != null}"></p>
											</div>
											<div class="mb-3 col-sm-6">
												<label class="form-label">Paypal Password</label>
												<input type="password" class="form-control" name="paypalPassword" id="paypalPassword" th:field="*{paypalPassword}"></label>
												<p th:text="${paypalPasswordErr}" th:if="${paypalPasswordErr != null}"></p>
											</div>
										</div>
										<div class="d-flex justify-content-evenly mb-3">
											<button class="btn btn-danger btn-lg" type="submit" name="cancel">Cancel</button>
											<button th:if="${user.paypal != null}" class="btn btn-primary btn-lg" type="submit" name="submit">Purchase</button>
											<button th:if="${user.paypal == null}" class="btn btn-danger btn-lg" disabled>Purchase Disabled</button>
										</div>
									</form>
								</div>
							</div>
						</div> -->
					</div>
					
				</div>
				<div th:if="${allSelected and toShipping == false and modifyPayment == false}" class="w-40">
					<hr>
					<div class="d-flex justify-content-center">
						<h3 style="word-break:keep-all;">If these details are correct then <br>
						please press Purchase to continue</h3>
					</div>
					<div style="margin-bottom: 4px" th:if="${selectedAddress != null}" class="d-flex justify-content-center">
						<a style="margin-right:100px;" th:href="@{/attemptPurchase}" class="btn btn-primary btn-lg" >Purchase</a>
						<a class="btn btn-danger btn-lg" th:href=@{/cancel-purchase} style="margin-right:100px;">Cancel</a>	
					</div>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>