<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
        <title>Verification</title>
        <link th:href="@{/styles/login.css}" rel="stylesheet" />
    </head>
    
    <body>
    
    
    <div class="grid-container">
 		<div class="grid-item item1">
			<th:block th:switch="${page}">
				<div th:case="wronguser">
 		 			<h2> Incorrect Username</h2>
 		    			<form th:action="@{/verify}" method="post">
            				<div><label> Username: <input type="text" name="username" th:value ="${username}"/> </label></div> <br/>
            				<div><label> Verification Code: <input type="text" name="verification" th:value ="${verification}"/> </label></div><br/>
            				<input type="submit" class="submit" value="Verify Email"> <br/>
        				</form>
        				<br/>
        				<form th:action="@{/index}" method="post">
       						<input type="submit" class="submit" value="Return to Index">
       					</form>
 		 		</div>
    			<div th:case="alreadyverified">
    				<h2>This account is already verified, you may now log in!</h2>
    					<form th:action="@{/login}" method="post">
       						<input type="submit" class="submit" value="Return to Login">
       					</form>
    			</div>
      			<div th:case="verifysuccess">
      				<h2>Verification successful you may now log in!</h2>
      					<form th:action="@{/login}" method="post">
       						<input type="submit" class="submit" value="Return to Login">
       					</form>
      			</div>
        		<div th:case="wrongcode">
        			<h2>Incorrect Verification Code</h2>
                		<form th:action="@{/verify}" method="post">
            				<div><label> User Name: <input type="text" name="username" th:value ="${username}"/> </label></div><br/>
            				<div><label> Verification Code: <input type="text" name="verification" th:value ="${verification}"/> </label></div><br/>
            				<input type="submit" class="submit" value="Verify Email"> <br/>
       			 		</form>
       			 		<br/>
       					<form th:action="@{index}" method="post">
       						<input type="submit" class="submit" value="Return to Index">
       					</form>
        		</div>
  
  
  				<div th:case="startverify">
  					<h2>Verify Email</h2>
        				<form th:action="@{/verify}" method="post">
            				<div><label> User Name: <input type="text" name="username"/> </label></div><br/>
            				<div><label> Verification Code: <input type="text" name="verification"/> </label></div><br/>
            				<input type="submit" class="submit" value="Verify Email"> <br/>
        				</form>
        				<br/>
       					<form th:action="@{index}" method="post">
       						<input type="submit" class="submit" value="Return to Index">
       					</form>
       			</div>
 		</div>
 	 </div>
   </body>
</html>
