<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gemunu%20Libre">
	</head>
	
	<div th:fragment="header">
		
		<!-- Nav Bar For Guest User -->
		<nav class="navbar navbar-expand-sm fixed-top" style="background-color: rgb(25,41,77)">
			<div class="container-fluid">
				
				<!-- Unbiased Left Justified Unordered List -->
				<ul class="navbar nav">
					<li class="nav-item">
						<a class="navbar-brand" th:href="@{/index}"><img src="/images/pseudo_ebay_icon.png" alt="Home" style="width:64px; height:64px;"></img></a>
					</li>
				</ul>
				<!-- End Unbiased Left Justified Unordered List -->
					
				<!-- No Logged In User Right Justified Unordered List -->
				<ul th:if="${user == null}" class="navbar nav ms-md-auto">
					<li class="nav-item ms-md-auto">
						<a class="nav-link text-white" style="font-family:'Gemunu Libre'; font-size: 1.5em" th:href="@{/newUser}"> Sign Up </a>
					</li>
					<li class="nav-item ms-md-auto">
						<a class="nav-link text-white" style="font-family:'Gemunu Libre'; font-size: 1.5em" th:href="@{/homePage}"> Log In </a>
					</li>
				</ul>
				<!-- End No Logged In User Right Justified Unordered List -->
				
				<!-- Basic User Right Justified Unordered List -->
				<ul th:if="${user.role} == ROLE_USER" class="navbar nav ms-md-auto">
					<li class="nav-item">
						<div class="dropdown"> 
							<a class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
								<img th:if="${user.userImage != null}" th:src="@{/images/userImages/{icon}(icon = ${user.userImage})}" th:text=" ${user.username}" style="width:50px; height:50px; padding-right:3px"></img>
								<img th:unless="${user.userImage != null}" th:src="@{/images/userImages/default_user_icon.png}" th:text=" ${user.username}" style="width:50px; height:50px; padding-right:3px"></img>
							</a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
								<li><h5 class="dropdown-header">My Account</h5></li>
								<li><a class="dropdown-item" th:href="@{/userDetails}"> Personal Info </a></li>
								<li><a class="dropdown-item" th:href="@{/userDetails/paymentDetails}"> Payment Info </a></li>
								<li><hr class="dropdown-divider"></hr></li>
								<li><a class="dropdown-item" href="/do_the_logout"> Log Out </a></li>
							</ul>
						</div>
					</li>
				</ul>
				<!-- Basic User Right Justified Unordered List -->
				
				<!-- Admin Right Justified Unordered List -->
				<ul th:if="${user.role} == ROLE_ADMIN" class="navbar nav ms-md-auto">
					<li class="nav-item ms-md-auto">
						<a class="nav-link text-white" style="font-family:'Gemunu Libre'; font-size: 1.5em" href="/do_the_logout"> Log Out </a>
					</li>
				</ul>
				<!-- End Admin/Employee Right Justified Unordered List -->
				
				<!-- Need to add ul tag element or edit above ul tag for other employee users -->
				
			</div>
		</nav>
	</div>
</html>